{% load bootstrap3 %}
{%load static%}
{% load cloudinary %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{%static 'favicon/houses.jpg'%}" type="img/jpg">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
  {% if title %}
  <title>Student Union - {{title}}</title>
  {% else %}
    <title>Student Union</title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/auth.css'%}">

  {% endblock %}

</head>

<body>
<div class="auth">
  {% block content %}  {%endblock%}
</div>
  


  {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
  {% endblock %}

</body>

</html>